:root{
    --primary-color:#10041F;
    --color-box:#904DC8;
    --boxhab:#212121;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
   
    background-color: var(--primary-color);
    color: aliceblue;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    
    padding-top: 20px;
    padding-left: 20px;
    
    
}
.contato-menu{
    margin-right: 189px;
}
.ul-menu{
    display: flex;
    list-style-type: none;
   
    gap: 50px;
}
.ul-menu li a{
    color: rgb(216, 216, 216);
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
}
.ul-menu li a:hover{
    color: rgb(136, 135, 135);
    transition: all ease .5s;
}

.container{
   
   
   
 

}
.box{
    

    
}
.info{
    display: flex;
    
    gap: 40px;
    margin-top: 50px;
    
    height: 700px;
    justify-content:space-around ;
    align-items:center ;
    
    .foto{
        height:  50%;
    }
    .foto img{
      
        width: 400px;
        height: 400px;
        border-radius: 50%;
        outline: 1px solid violet;
    }
    
}
.p-info{
    font-weight: 200;
    font-size: 32px;
    font-style: normal;
}
.h1-info{
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 80px;
}
.h2-info{
    font-size: 19px;
}
.btn-cv{
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 130px;
    text-transform: uppercase;
    background:linear-gradient(to right, #ae84ce, var(--color-box));
    color: aliceblue;
    font-weight: bold;
    
}
.btn-cv:hover{
    transform: scale(90%);
    transition:  cubic-bezier(.24,.52,.91,.63) .5s ;
}
.contato-menu{
    background:linear-gradient(to right, #ae84ce, var(--color-box));
    padding: 10px;
    border-radius: 120px;
    width: 100px;
}
.contato-menu:hover{
 transform: scale(90%);
    transition:  cubic-bezier(.24,.52,.91,.63) .5s ;
}
.contato-menu a{
    text-decoration: none;
    color: rgb(216, 216, 216);
}
.about{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}
.about h2{
    font-size:40px;
}
.about p{
    color: #8c8c96;
    font-size: 20px;
    width: 500px;
    
}
/*CONTAINER DA HABILIDADE*/
#habilidades h2{
    text-align: center;
    margin-top: 5%;
}
.contarinerhab{
    margin-top: 5%;
    margin-left: 5%;
    
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    
}
.box-hab{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 25% 10%;
    transition: all ease-in-out .2s;
    background-color: var(--boxhab);
   
    
}
.box-hab p{
    
    margin-top: 10%;
    margin-bottom: 10%;

    color: var(--color-box);
    font-weight: 600;
}
.box-hab img{
    
    width: 50%;
}
.box-hab:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}




















